In [1]:
print('성일정보고등학교')

성일정보고등학교

In [2]:
print("성일정보고등학교"+"소프트웨어개발과")

성일정보고등학교소프트웨어개발과

In [3]:
print('성일'*10)

성일성일성일성일성일성일성일성일성일성일

In [4]:
print('='*30)
print('성일정보고등학교 소프트웨어개발과')
print('='*30)

==============================
성일정보고등학교 소프트웨어개발과
==============================

In [5]:
print('='*30)
print('성일정보고등학교 \n소프트웨어개발과')
print('='*30)

==============================
성일정보고등학교
소프트웨어개발과
==============================

In [6]:
print('='*30)
print('\t성일정보고등학교 \n소프트웨어개발과')
print('='*30)

==============================
	성일정보고등학교
소프트웨어개발과
==============================

In [7]:
i='성일'
j='정보고등학교'
print(i+j)

성일정보고등학교

In [8]:
name=input('이름을 입력하세요: ')
print (name)

이름을 입력하세요:  김현수

김현수

In [9]:
x=input

In [10]:
1

TypeError: unsupported operand type(s) for +: 'method' and 'method'

### x=input('성일 :')
y=input('정보고등학교 :')
print(x+y)

In [ ]:
x=input()
y=input()
print(x+y)

In [ ]:
print ('1')

In [ ]:
name1=input('학번을 입력하세요: ')
name2=input('이름을 입력하세요: ')
print(name1+name2)

In [ ]:
name1=input('학번을 입력하세요: ')
name2=input('이름을 입력하세요: ')
print(name1+name2)

In [ ]:
name1=input('학번을 입력하세요: ')
name2=input('이름을 입력하세요: ')
print(name1+name2)

In [ ]:
name1=input('학번을 입력하세요: ')
name2=input('이름을 입력하세요: ')
print(name1+name2)

In [ ]:
name1=input('학번을 입력하세요: ')
name2=input('이름을 입력하세요: ')
print(name1+name2)

In [11]:
name1=input('학번을 입력하세요: ')
name2=input('이름을 입력하세요: ')
print(name1+name2)

학번을 입력하세요:  31103
이름을 입력하세요:  김현수

31103김현수

In [12]:
name1=int{input('학번을 입력하세요: ')}
name2=int{input('이름을 입력하세요: ')}
print(name1+name2)

SyntaxError: invalid syntax (4270015381.py, line 1)

In [14]:
name1=int(input('학번을 입력하세요: '))
name2=int(input('이름을 입력하세요: '))
print(name1+name2)

학번을 입력하세요:  100
이름을 입력하세요:  200

300

In [15]:
print('='*30)
name1=input('학번: ')
name2=input('이름: ')

==============================

학번:  31103
이름:  김현수

In [ ]:
print('='*30)
name1=input('학번: ')
name2=input('이름: ')
x=in